DB_POSTGRES_HOST=postgres-for-nginx-proxy-mgr-011526
DB_POSTGRES_PORT=5432
DB_POSTGRES_USER=npm
DB_POSTGRES_PASSWORD=npmpass
DB_POSTGRES_NAME=npm
POSTGRES_USER=npm
POSTGRES_PASSWORD=npmpass
POSTGRES_DB=npm